body
{
    position: relative;
    height: 950px;
}
.cabecera
{
    height: 10%;/*50px;*/
    background-color: brown;
}
.menu
{
    height: 5%;/*30px;*/
    background-color: lightgreen;
}
.cuerpo
{
    height: 75%;/*300px;*/
    position: relative;
}
.publicidad
{
    height: 100%;
    width: 20%;
    margin-right: 0px;
    float: right;
    background-color: cyan;
}
.principal
{
    height: 100%;
    width: 80%;
    float: right;
    background-color: orange;
}
.seccion
{
    background-color: azure;
    margin: 10px;
    height: 30%;
    width: 98%;
}
.articulo
{
    background-color: chartreuse;
    height: 25%;
    margin: 5px 20px;
}
.pie
{
    height: 10%;
    background-color: chocolate;
}